body {
    margin: 0;
    padding: 0;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    font-size: 2rem;
    color: hsl(0, 0%, 95%);
}
    

section {
    width: 375px;
}

p {
    color:hsla(0, 0%, 100%, 0.75);
    padding-bottom: 15px;
}

button {
    padding: 15px 35px;
    border: none;
    border-radius: 50px;
    background-color: hsl(0, 0%, 95%);
    font-family: 'Lexend Deca', sans-serif;
}

.card-layout {
    display: inline-block;
    margin: 0 25px;
    padding: 60px 50px;
}

.sedans {
    background-color: hsl(31, 77%, 52%);
    margin-top: 75px;
    border-radius: 10px 10px 0 0;
}

.suvs {
   background-color: hsl(184, 100%, 22%);
}

.luxury {
    background-color: hsl(179, 100%, 13%);
    margin-bottom: 75px;
    border-radius: 0 0 10px 10px;
}

.sedan-colour {
    color: hsl(31, 77%, 52%);
}

.suv-colour {
    color: hsl(184, 100%, 22%);
}

.luxury-colour {
    color: hsl(179, 100%, 13%);
}

@media (min-width: 1200px) {
    
    main {
        display: flex;
        flex-direction: row;
        padding: 200px;
    }

    section {
        width: 300px;
    }

    p {
        padding-bottom: 80px;
    }

    .card-layout {
        margin: 0;
    }

    .sedans {
        margin-top: 0;
        border-radius: 10px 0 0 10px ;
    }
    
    .luxury {
        margin-bottom: 0;
        border-radius: 0 10px 10px 0;
    }
}